@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    color:rgb(231 233 234);
    background-color: black;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    font-family: "Libre Franklin", sans-serif;
}
.open-space{
    width: 60px;
}
.left-bar{
    width: 260px;
    border-right: 1px solid rgb(27 29 31);
    padding: 8px;
}
.categories{
    padding: 8px;
    margin-left: 25px;
}
.category{
    display: flex;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
.category i{
    margin-right: 20px;
}
.category img{
    padding-right: 20px;
}
.category:hover{
    background: rgb(24 24 24);
}
.post button{
    background-color: rgb(29, 155, 240);
    width: 189px;
    height: 40px;
    padding: 0px 32px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}
.post button:hover{
    background: rgb(15 78 120);
}
.account{
    display: flex;
    font-size: 12px;
    cursor: poiter;
}
.account-icon {
    margin-left: 10px;
}
.account-text{
    margin-left:10px;
}
.more-account{
    margin-left: 50px;
}

.left-bar img{
    width: 50px;
    height: 30px;
}
.main-bar{
    display: flex;
}
.middle-bar{
    width:540px;
}
.mid-nav-bar{
    display: flex;
}
.for-you{
    width: 291px;
    height:53px;
    padding: 16px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgb(113, 118, 123);
    border-bottom: 1px solid rgb(27 29 31);
    cursor: pointer;
}
.for-you:hover{
    background:rgb(24 24 24);
}
.following{
    width: 307px;
    height:53px;
    padding: 16px;
    font-size:15px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid rgb(27 29 31);
    cursor: pointer;
}
.following:hover{
    background:rgb(24 24 24);
}
.first-post{
    width:598px;
    height:116px;
    padding: 16px;
    font-size:18px;
    font-weight: 300;
    color:rgb(231, 233, 234);
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.first-post-what{
    margin-top:2px;
}

.first-post-icons{
    display: flex;
    margin-top: 10px;
}
.blue-icons i{
    color: rgb(29 154 238);
    height: 25px;
    width: 10px;
    padding: 15px 25px;
    border-radius: 35px;
    cursor: pointer;
}
.blue-icons{
    display: flex;
    height: 30px;
    width:150px;
    margin-top: 10px;
}

.first-post-icons button{
    background-color: rgb(29, 155, 240);
    width: 66px;
    height: 36px;
    padding: 0px 16px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    margin-right: 0px 20px;
    cursor: pointer;
}
.first-post-icons button:hover{
    background: rgb(15 78 120);
}
.post-button{
    margin-left: 290px;
    margin-top: 15px;
}
.show-posts{
    width:598px;
    height:36px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.show-posts p{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(19 100 155);
    cursor: pointer;
}
.account1{
    display: flex;
    width: 598px;
    height:430px;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.account2{
    display: flex;
    width: 598px;
    height:470px;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.account3{
    display: flex;
    width: 598px;
    height:460px;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.circle-image{
    height:350px;
    margin: 0px 8px 0px 0px;
}
.circle-image img{
    width:40px;
    height: 40px;
    border-radius:100%;
}
.account-mid img{
    width: 425px;
    height: 250px;
    border: 2px solid rgb(27 29 31);
    border-radius: 15px;
}
.account-mid-top{
    display: flex;
}
.blue-verification i{
    color: rgb(29, 155, 240);
}
.account-mid-top .more{
    margin-left: 215px;
}
.account-mid-text{
    width:425px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.account-post{
    width: calc(598px-40px);
}
.account-bottom{
    display: flex;
    margin-top: 30px;
    font-size: 13px;
    color: rgb(113, 118, 123);
}
.left span{
    margin-left: 20px;
}
.account-bottom .right{
    margin-left: 80px;
}
.right-bar{
    width: calc(100vw-825px);
    padding: 0px 16px;
    border-left: 1px solid rgb(27 29 31);
}
.right-bar-main{
    margin-top: 16px;
}
.right-bar-nav{
    height: 53px;
}
.right-bar-nav .search{
    display: flex;
    align-items: center;
    height:42px;
    background-color: #202327;
}
.search{
    display: flex;
    border: 1px solid rgb(27 29 31);
    width:348px;
    margin-right: 10px;
    height: 100%;
    margin-top:10px;
    border-radius: 15px;
}
.search input{
    border: none;
    width:90%;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(104 109 113);
    background-color: #202327;
}
.search button{
    border:none;
    align-items: center;
    width:10%;
    background-color: #202327;
}
.search button i{
    height: 20px;
    width: 30px;
    color: rgb(104 109 113);
    background-color: #202327;
}
h3{
    font-size: 20px;
    font-weight: 800;
    color: rgb(231 233 234);
}
.title{
    margin-bottom: 15px;
}
.subscribe{
    width:348px;
    height:155px;
    padding: 12px 16px;
    border: 1px solid rgb(27 29 31);
    border-radius: 15px;
}
.subscribe p{
    margin-bottom: 15px;
}
.subscribe button{
    background-color: rgb(29, 155, 240);
    width: 106px;
    height: 36px;
    padding: 0px 16px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}
.subscribe button:hover{
    background: rgb(15 78 120);
}
.trends{
    width:348px;
    height:360px;
    padding: 12px 16px;
    border: 1px solid rgb(27 29 31);
    border-radius: 15px; 
    margin-top: 16px;
}
.trends-mid{
    display:flex;
    padding: 10px 0px;
}
.trend-info p{
    color:rgb(78 81 85);
    font-size: 14px;
    font-weight: 400;
}
.trend-info h4{
    font-size: 16px;
    font-weight: 700;
}
.trend-more{
    margin-left: 130px;
    cursor: pointer;
}
.trend-more i{
    color:rgb(78 81 85);
}
.trends span{
    color: rgb(16 88 136);
    font-size: 15px;
    cursor: pointer;
}
.who{
    width:348px;
    height:450px;
    padding: 12px 16px;
    border: 1px solid rgb(27 29 31);
    border-radius: 15px; 
    margin-top: 16px;
}
.who-main{
    display: flex;
    padding: 10px 0px;
}
.who-info{
    width: 180px;
    height: 100px;
}

.who-follow button{
    color: #666b6e;
    background-color: #eff3f4;
    width: 86px;
    height: 36px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}
.who-group{
    display: flex;
}
.who-info p{
    color: rgb(78 81 85);
}
.who-group h4{
    font-size: 16px;
    font-weight: 700;
}
.who img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}
.who span{
    color: rgb(16 88 136);
    font-size: 15px;
    cursor: pointer;
}
.terms-of-use{
    width: 348px;
    padding: 16px;
}
.footer-section span{
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    color:#686868;
    cursor: pointer;
}