@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    color:rgb(231 233 234);
    background-color: black;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    font-family: "Libre Franklin", sans-serif;
}

.left-bar{
    width: 259px;
    height: 5337px;
    border-right: 1px solid rgb(27 29 31);
    padding: 8px;
}
.categories{
    padding: 8px;
    margin-left: 25px;
}
.category{
    display: flex;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    border-radius: 15px;
    font-size: 16px;
}
.category i{
    padding-right: 20px;
}
.category img{
    padding-right: 15px;
}
.category:hover{
    background: rgb(24 24 24);
}
.post button{
    background-color: rgb(29, 155, 240);
    width: 189px;
    height: 40px;
    padding: 0px 32px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 70px;
}
.account{
    display: flex;
    font-size: 12px;
}
.account-icon i{
    margin-left: 10px;
}

.left-bar img{
    width: 50px;
    height: 30px;
}


.main-bar{
    display: flex;
}
.middle-bar{
    width:566px;
}
.mid-nav-bar{
    display: flex;
}
.for-you{
    width: 291px;
    height:53px;
    padding: 16px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgb(113, 118, 123);
    border-bottom: 1px solid rgb(27 29 31);
    cursor: pointer;
}
.for-you:hover{
    background:rgb(24 24 24);
}
.following{
    width: 307px;
    height:53px;
    padding: 16px;
    font-size:15px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
    cursor: pointer;
}
.following:hover{
    background:rgb(24 24 24);
}
.first-post{
    width:598px;
    height:116px;
    padding: 16px;
    font-size:18px;
    font-weight: 300;
    color:rgb(231, 233, 234);
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.first-post-what{
    margin-top:2px;
}
.first-post-what i{
    width:40px;
    height:40px;
}
.first-post-icons{
    margin-top: 10px;
}
.first-post-icons i{
    color: rgb(19 100 155);
    height: 10px;
    width: 10px;
    margin:0px 15px;
}
.first-post-icons button{
    background-color: rgb(29, 155, 240);
    width: 66px;
    height: 36px;
    padding: 0px 16px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    margin-right: 0px 20px;
}
.show-posts{
    width:598px;
    height:36px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.show-posts p{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(19 100 155);
    cursor: pointer;
}
.account1, .account2, .account3{
    display: flex;
    width: 598px;
    height:492px;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(27 29 31);
    border-right: 1px solid rgb(27 29 31);
}
.circle-image{
    height:470px;
    margin: 0px 8px 0px 0px;
}
.circle-image img{
    width:40px;
    height: 40px;
    border-radius:100%;
}
.account-mid img{
    width: 425px;
    height: 250px;
    border: 2px solid rgb(27 29 31);
    border-radius: 15px;
}
.account-mid-top{
    display: flex;
}
.account-mid-text{
    width:425px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.account-post{
    width: calc(598px-40px);
}
.account-bottom{
    display: flex;
    margin-top: 30px;
    margin-bottom: 5px;
}
.who img{
    width: 40px;
    height: 40px;
}